*{
    box-sizing: border-box;
    font-family: sans-serif;
    
}
/* .container{
    width: 70%;
    margin: 0 auto;
} */

.row{
    width: 70%;
    float: left;
    margin-left: 15%;
}
.mb{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}

.formtk{
    line-height: 150%;

}
.form-admin input[type="text"],
.formtk input[type="password"],
.formtk input[type="text"]{
    width: 100%;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 5px 10px;
}
/* .formtk input[type="password"]{
    width: 100%;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 5px 10px;
} */
.formtk input[type="checkbox"]{
    border-radius: 5px;
}
.form-admin input[type="submit"],
.form-admin input[type="reset"],
.form-admin input[type="button"],
.formtk input[type="submit"]{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px #ccc solid;
    margin-right: 5px;
}
.form-admin input[type="submit"]:hover,
.form-admin input[type="reset"]:hover,
.form-admin input[type="button"]:hover,
.formtk input[type="submit"]:hover{
    background-color: #ccc;
}
.formtk li a{
    color: teal;
    text-decoration: none;
}
.formtk li a:hover{
    color: blue;
    text-decoration: none;
}
/*trang admin*/
.titlead{
    margin-top: 150px;
    background-color: #eee;
    border: 1px #ccc solid;
    border-radius: 5px;
    color: rgb(85, 102, 215);
    font-size: 1vw;
    width: 70%;
    margin-left: 15%;
}
.titlead h2{
    padding: 10px;
}
.content-admin{
    padding: 20px 0px;
}

/* Danh sách hàng hóa */
.dsloai table{
    width: 100%;
     border-collapse: collapse; /*bỏ khoảng trắng các ô table */
     border: 1px #999 solid;
}
.dsloai table tr th{
    background-color: #ccc;
}
/* .dsloai table th:nth-child(1){
    width: 10%;
    background-color: #ccc;
    padding: 20px;
}
.dsloai table th:nth-child(2){
    width: 25%;
    background-color: #ccc;
  
}
.dsloai table th:nth-child(3){
    width: 40%;
    background-color: #ccc;
    
}
.dsloai table th:nth-child(4){
    width: 25%;
    background-color: #ccc;
   
} */
.dsloai table td{
    padding: 10px 20px;
    border: 1px #999 solid;

}














