.box{
    width: 100%;
    /* background-color: gray; */
    min-height: 1800px;
    margin-top: 130px;
    
}
.boxtrai{
    width: 70%;
    float: left;
    /* border: 2px red solid; */
    min-height: 500px;
}
.boxtrai img{
    width: 45%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
}


.boxphai{
    width: 30%;
    float: left;
    /* border: 2px blue solid; */
    min-height: 500px;
}
.boxphai .name{
    font-size: 2vw;
    margin: 5% 0 0 5%;
    color: black;
}
.boxphai .gia{
    font-size: 1.5vw;
    margin: 3% 0 0 5%;
}
.boxphai .size{
    margin: 10% 0 0 5%;
}
.size p{
    font-size: 1.5vw;
    margin-bottom: 1px;
}
.size input{
    border: 1px #ccc solid;
    padding: 5px 15px ;
    font-size: 1.5vw;
    background-color: #fff;
    margin-right: 2%;
}
.size input:hover{
    background-color: dodgerblue;
    color: white;
}
.cart input{
    color: black;
    width: 90%;
    margin: 10% 5%;
    font-size: 1.5vw;
    padding: 15px 0;
    background-color: white;
    border:1px #ccc solid;
}
.cart input:hover{
    background-color: #ccc;
    
}
.box2{
    /* background-color: rgb(161, 161, 220); */
    width: 100%;
    min-height: 500px;
    
}
.box2 h2{
    font-size: 2vw;
    padding: 20px 0 10px 15px;
}
.box2 .row{
    min-height: 300px;
}
.prod-ct{
    width: 300px;
    
    background-color: #ccc;
    margin-right: 2%;
    float: left;
    min-height: 300px;
}
.prod-ct .image{
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
}
.prod-ct .name{
    font-size: 1.5vw;
    color: blue;
    padding-left: 20px;
}
.prod-ct .price{
    font-size: 1vw;
    color: red;
    padding-left: 20px;
    padding-bottom: 5px;
}

